body {
    margin: 0px;
    background-color: rgb(237, 236, 240);
}
.header {
    background-color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 10px 0px grey;
}
    
#logo {
    margin-left: 10px;
    width: 65 70px;
}
    
.header h2 {
    align-self: center;
} 

.divt {
    background-color: white;
    width: 70px;
    margin: 0px;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.section1 div {
    width: 25%;
    height: 300px;
    background-color: white;
    box-shadow: 0 1px 10px 0px black;
    border-radius: 10px;
    text-align: center;
}

.section2 {   
    text-align: center;
    flex-direction: column;
    margin: 0px;
    background-color: green;
    width: 100%;
    border-width: 1px black solid;
    padding: 20px;
    align-self: center;
}

.maps {
    border-width: 1px solid black;
    width: 100%;
    height: auto;
    background-color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.flag {
    width: 70px;
    height: 70px;
    background-color: white;
}

.info {
    width: 70px;
    height: 70px;
    background-color: blue;
}